/* ==========================
   AADIYOGI TRAVELS
   PREMIUM STYLE.CSS
========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:#fff;
line-height:1.6;
overflow-x:hidden;
}

/* Scrollbar */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#ff7a00;
border-radius:20px;
}

/* Navbar */

header{
position:fixed;
top:0;
width:100%;
z-index:1000;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 8%;
background:rgba(0,0,0,.55);
backdrop-filter:blur(14px);
}

.logo img{
height:65px;
}

.nav-links{
display:flex;
list-style:none;
gap:35px;
}

.nav-links a{
color:#fff;
text-decoration:none;
font-weight:500;
transition:.3s;
}

.nav-links a:hover{
color:#ff7a00;
}

.btn{
background:#ff7a00;
color:#fff;
padding:13px 28px;
border-radius:50px;
text-decoration:none;
font-weight:600;
transition:.4s;
box-shadow:0 10px 30px rgba(255,122,0,.35);
}

.btn:hover{
background:#ff9500;
transform:translateY(-4px);
}

/* Hero */

.hero{
height:100vh;
background-image: url('hero.png'); center center/cover no-repeat;
position:relative;
display:flex;
align-items:center;
padding:0 8%;
}

.overlay{
position:absolute;
inset:0;
background:linear-gradient(to right,rgba(0,0,0,.82
